.genre{
      display: flex;
      background: rgb(53,53,53);
      background: linear-gradient(90deg, rgba(53,53,53,1) 8%, rgba(9,9,121,1) 83%);
      flex-wrap: wrap;
      justify-content: space-around;
      
}

.genre-name{
     color: white; 
     margin-left: 100px;
}